.container
{
  width: 1020px;
  margin: 0 auto;
}


@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
