.container
{
  width: 1020px;
  margin: 0 auto;
}


@media screen and (min-width: $mobile-width)
{
  .container
  {
    width: 320px;
    margin: 0 auto;
  }

  }

  @media screen and (min-width: $tablet-width)
  {
    .container
  {
      width:768px;
      margin: 0 auto;
  }

    }
