.faq
{
  width: 1020px;
  height: 523px;
  background-image: url('/img/faq_back.png');
  background-repeat: no-repeat;
  position: relative;
  bottom: 170px;
}

.faq_title
{
  font-family: "RobotoSlabBold";
  font-size: $title-size;
  line-height: $title-line-height;
  color: $title-color;
  padding-top: 40px;
  text-align: center;
}

.faq_questions
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_question
{
  width: 420px;
  height: 120px;
  margin-bottom: 10px;
&--column
{
  position: relative;
  left: 20px;
}
}

.faq__question
{
  width: 330px;
  font-family: "ArialRegular";
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.faq__question--description
{
  width: 350px;
  position: relative;
  bottom: 35px;
  left: 40px;
}

.faq__question::before
{
  content: "";
  display: block;
  width: 25px;
  height: 33px;
  background-image: url('/img/faq_icon.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

.faq__answer
{
  width: 420px;
  font-family: "ArialRegular";
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  position: relative;
  bottom: 50px;

  &--add
  {
    padding-top: 15px;
  }
}
