.guarantee
{
  display: flex;
  justify-content: space-around;
}

.guarantee-card
{
  width: 260px;
  height: 340px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  bottom: 50px;
  margin-top: 60px;
}

.guarantee-card__title
{
  width: 180px;
  font-family: "RobotoSlabBold";
  font-size: 18px;
  line-height: 18px;
  color: #00a99d;
  text-align: center;
  position: relative;
  bottom: 25px;
  margin-left: 20px;

  &--partners:before
  {
    content: "";
    display: block;
    width: 27px;
    height: 40px;
    background-image: url('/img/part_g.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    top: 25px;
    right: 15px;
  }

  &--traning:before
  {
    content: "";
    display: block;
    width: 27px;
    height: 40px;
    background-image: url('/img/traning_g.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    top:20px;
  }

  &--support:before
  {
    content: "";
    display: block;
    width: 29px;
    height: 25px;
    background-image: url('/img/support_g.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    top:20px;
  }
}

.guarantee-card__title--partners
{
  bottom: 45px;
  padding-left: 15px;
}

.guarantee-card__title--traning
{
  position: relative;
  bottom: 35px;
}

.guarantee-card__list
{
  list-style-image: url('/img/guaran_card.png');
  padding-bottom: 20px;
  position: relative;
  bottom: 23px;
  right: 10px;
  display: flex;
  flex-direction: column;
  &--partners
  {
    position: relative;
    bottom: 55px;
  }
  &--traning
  {
    bottom:35px;
  }
}

.guarantee-card__element
{
  width: 200px;
  font-family: "ArialRegular";
  font-size: 13px;
  line-height: 16px;
  color: #252525;
  text-align: left;
  margin-bottom: 12px;
  &--traning
  {
    width: 180px;
    margin-bottom: 10px;
  }
}
