.page-footer
{
  width: 1020px;
  height:352px;
  background-image: url('/img/footer_back.png');
  background-repeat: no-repeat;
  margin-top: -355px;

}

.footer_title
{
  font-family: "RobotoSlabBold";
  font-size: $title-size;
  line-height: $title-line-height;
  color: $title-color;
  text-align: center;
  padding-top: 40px;
}

.block-one
{
  width: 860px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 70px;
  left: 50px;
}

.block-two
{
  width: 640px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 140px;
}

.sponsor__photo--russia
{
  position: relative;
  top: 10px;
  left: 20px;
}

.sponsor__photo--ernst
{
  position: relative;
  top: 10px;
  left: 50px;
}


.sponsor__photo--mayak
{
  position: relative;
  top: 10px;
  right: 10px;
}

.sponsor__photo--skolkovo
{
  position: relative;
  bottom: 45px;
  left: 40px;
}

.sponsor__photo--opora
{
  position: relative;
  bottom: 10px;
  left: 10px;
}

.sponsor__photo--pwc
{
  position: relative;
  bottom: 30px;
  left: 10px;
}
